beautifulsoup4==4.8.2
chart-studio==1.1.0
Flask==1.1.1
Flask-Compress==1.8.0
glob2==0.7
h5py==2.10.0
html5lib==1.0.1
Jinja2==2.11.1
joblib==0.14.1
json5==0.9.1
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
nsepy==0.8
numpy==1.18.1
pandas==1.0.1
pandas-datareader==0.9.0
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
selenium==3.141.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
textblob==0.15.3
tweepy==3.10.0
tweet-preprocessor==0.6.0
Werkzeug==1.0.0



